html{
    box-sizing: border-box;
    font-size: 1rem;
    font-family: sans-serif;
}
body{
    margin: 0;
    overflow-x: hidden;
}
a{
    color:rgba(176, 227, 132, 1);
    transition: color 0.3s ease;
}
a:hover{
    color: rgb(132, 227, 175);
}
h1{
    text-align: center;
}
img{
    max-width: 100%;
    height: auto;
}

.error{
    padding: 1rem;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: rgb(219, 102, 102);
}

.loader{
    margin: 1rem auto;
    display: block;
    width: 4rem;
    height: 4rem;
}